* {
  margin: 0;
  padding: 0;
}

svg path {
  fill: #252a34;
  stroke: #eaeaea;
  stroke-width: 1px;
}

svg path:hover {
  fill: #08d9d6;
  stroke: #252a34;
  transition: 0.5s;
  color: white;
  cursor: pointer;
}
